<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-4.0.xsd">

    <bean id="eventDao" class="com.epam.cdp.spring.dao.impl.EventDaoImpl"/>
    <bean id="ticketDao" class="com.epam.cdp.spring.dao.impl.TicketDaoImpl"/>
    <bean id="userDao" class="com.epam.cdp.spring.dao.impl.UserDaoImpl"/>

    <bean id="eventService" class="com.epam.cdp.spring.service.impl.EventServiceImpl"/>
    <bean id="ticketService" class="com.epam.cdp.spring.service.impl.TicketServiceImpl"/>
    <bean id="userService" class="com.epam.cdp.spring.service.impl.UserServiceImpl"/>

    <bean id="bookingFacade" class="com.epam.cdp.spring.facade.impl.BookingFacadeImpl">
        <constructor-arg ref="eventService"/>
        <constructor-arg ref="ticketService"/>
        <constructor-arg ref="userService"/>
    </bean>

    <util:map id="eventStorage" map-class="java.util.HashMap">
    </util:map>

    <util:map id="ticketStorage" map-class="java.util.HashMap">
    </util:map>

    <util:map id="userStorage" map-class="java.util.HashMap">
    </util:map>

    <!--TODO Setter injection example-->
    <!-- <bean id="bookingFacade" class="com.epam.cdp.spring.facade.impl.BookingFacadeImpl">
        <property name="eventService" ref="eventService"/>
        <property name="ticketService" ref="ticketService"/>
        <property name="userService" ref="userService"/>
    </bean>-->

</beans>