body {
    background: #E0FFFF;
}
#wrapper {
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
header {
    height: 20%;
    background: url('../images/logo_hybris_partner.png') repeat-x;
}
#body {
    height: 80%;
    background: url('../images/body.png') no-repeat;
}